@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #111111;
    color: white;
}

nav section {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 55%;
    justify-content: center;
}

nav a{
    height: fit-content;
    width: fit-content;
    background-size: auto;
    cursor: pointer;
}

.middlediv{
    padding: 0 1%;
    border-left:2px rgba(255, 255, 255, 0.555) solid;
    border-right:2px rgba(255, 255, 255, 0.555) solid;
}
.middlediv > a {
    padding: 3px;
}

#corners{
    padding: 0 1%;
}

.none{
    display: none;
}

#hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    border-radius: 0px;
    padding: 0px 0.5px;
    cursor: pointer;
}

#hamburguer::before,
#hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
}

nav section img{
    height: 30px;
    width: auto;
}

.white{
    filter: invert(100%);
}

nav figure {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
}

nav button {
    padding: 15px 38px;
    border-radius: 3px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #83E1EA;
    color: white;
    cursor: pointer;
}

/* HEADER */

header{
    padding: 10% 25%;
    text-align: center;
    background-position: bottom, bottom left, bottom;
    background-attachment: scroll, scroll, fixed;
    background-image: linear-gradient(0deg, #021A20 50.12%, rgba(2, 26, 32, 0) 98.5%, rgba(2, 26, 32, 0) 98.5%) ,url(/img/geral/frontplain.png), url(/img/geral/bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 7%, 45% , cover;
}

header figure {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

header span::before{
    font-size: 40px;
    content: "◈";
    vertical-align: middle;
}

header span::after{
    font-size: 40px;
    content: "◈";
    vertical-align: middle;
}

header h2{
    color: #E5B465;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
    font-size: 80px;
    display: block;
    justify-content: center;
    margin: 49px 0 22px 0;
}

header h3 {
    color: #F6F3EB;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.92));
    padding-bottom: 20px;
}

/* MAIN */

main{
    background-color: #021A20;
    color: white;
    padding-bottom: 80px;
}

#RiotXHappyHourSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

#RiotXHappyHourSec p{
    width: 30%;
}


#watchButtons{
    margin-top: 67px;
    text-align: center;
}

#assista {
    padding: 18px 45px;
    color: #113B42;
    background-color: #3CD3EC;
    font-size: 20px;
    border-color: #113B42;
    border-width: 2px;
    border-style: dashed solid;
}

#saiba {
    padding: 18px 57px;
    color: #538895;
    background-color: #021A20;
    font-size: 20px;
    border-color: #538895;
    border-width: 2px;
    border-style: dashed solid;
}

main section div{
    width: 20%;
    background-color: #083742;
    color: #3CD3EC;
    cursor: pointer;
    transition: all ease .5s;
    align-items: center;
}

#noticias{
    display: flex;
    justify-content: space-evenly;
}

#noticias div{
    display: flex;
    flex-direction: column;
}

#noticias div:hover{
    transform: scale(1.1); 
}

#noticias h2{
    font-size: 35px;
    margin: 65px 50px;
    text-align: center;
}

#noticias img{
    padding: 10px 10px;
    width: 100%;
}

#noticias{
    margin-top: 67px;
}

#HappyHourSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

/* FOOTER */

footer{
    color: white;
    background-color: #232221;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
    min-width: 960px;
    width: 100%;
}

footer div{
    display: flex;
    align-items: center;
}

#riotFooterLogo{
    width: 6vh;
    padding-right: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer figure{
    width: 4%;
    height: auto;
}

footer figure img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: all .3s ease;
}


footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    font-weight: 800;
}

footer ul li {
    padding: 2vh;
}

.solink{
    
    justify-content: flex-end;
}
.solink > li {
    padding: 10px;
}
.solink img{
    height: 20px;
    width: auto;
    filter: grayscale(100%);
    transition: all ease .3s;
}

#hoverRed img:hover{
    cursor: pointer;
    filter: grayscale(0%);
}


@media screen and (max-width: 768px){
   header{
    background-image: linear-gradient(0deg, #021A20 2.12%, rgba(2, 26, 32, 0) 98.5%, rgba(2, 26, 32, 0) 98.5%), url(/img/geral/bg.png);
    background-size: cover;
   }

   header img{
    width: 100%;
   }

   nav section{
    display: none;
   }   

   #noticias{
    display: flex;
    flex-direction: column;
    min-width: 280;
   }

   #noticias div{
    width: 80%;
    margin-left: 11%;
    margin-top: 20px;
   }

   #noticias div:hover{
    transform: scale(1.05); 
}

   #RiotXHappyHourSec p{
    width: 70%;
}

   #saiba{
    margin-top: 10px;
   }

   img{
    width: 80%;
   }


   nav h2{
    text-align: center;
   }

   header{
    padding: 20% 12.5%;
   }

   footer{
    max-width: 768px;
    min-width: 320px;
   }

   #optionsFooter{
    display: none;
   }

   .solink li{
    margin-left: 20px;
   }
}